In [44]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [45]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,Date,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,2022-07-13 00:37:49,Verkhoyansk,RU,67.5447,133.3850,69.91,55,0,11.12
1,1,2022-07-13 00:37:50,Itarema,BR,-2.9248,-39.9167,77.54,87,12,12.86
2,2,2022-07-13 00:37:50,Cherskiy,RU,68.7500,161.3000,61.20,57,27,14.09
3,3,2022-07-13 00:37:35,Touros,BR,-5.1989,-35.4608,75.51,87,7,11.27
4,4,2022-07-13 00:37:50,Juba,SS,4.8517,31.5825,71.80,82,82,2.46

In [46]:
city_data_df.dtypes

City_ID         int64
Date           object
City           object
Country        object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [47]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [48]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [50]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [51]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

In [52]:
fig.add_layer(heat_layer)

In [53]:
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [58]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,Date,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,2022-07-13 00:37:50,Itarema,BR,-2.9248,-39.9167,77.54,87,12,12.86
3,3,2022-07-13 00:37:35,Touros,BR,-5.1989,-35.4608,75.51,87,7,11.27
11,11,2022-07-13 00:37:52,Sohag,EG,26.5570,31.6948,83.23,35,12,16.60
12,12,2022-07-13 00:37:52,Lahan,NP,26.7296,86.4951,84.92,71,100,4.79
18,18,2022-07-13 00:34:46,Georgetown,MY,5.4112,100.3354,76.98,94,20,4.61
20,20,2022-07-13 00:37:54,Rayagada,IN,19.1667,83.4167,76.32,91,100,4.59
23,23,2022-07-13 00:33:57,San Marcos,US,33.1434,-117.1661,85.14,66,0,12.66
25,25,2022-07-13 00:37:55,Rikitea,PF,-23.1203,-134.9692,75.13,73,24,12.10
26,26,2022-07-13 00:37:55,Palmas Bellas,PA,9.2319,-80.0867,77.02,91,100,2.80
30,30,2022-07-13 00:37:56,Kloulklubed,PW,7.0419,134.2556,82.90,76,22,9.06

In [59]:
preferred_cities_df.count()

City_ID       187
Date          187
City          187
Country       187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [62]:
hotel_df = preferred_cities_df[["Max Temp", "City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

    Max Temp           City Country      Lat       Lng Hotel Name
1      77.54        Itarema      BR  -2.9248  -39.9167
3      75.51         Touros      BR  -5.1989  -35.4608
11     83.23          Sohag      EG  26.5570   31.6948
12     84.92          Lahan      NP  26.7296   86.4951
18     76.98     Georgetown      MY   5.4112  100.3354
20     76.32       Rayagada      IN  19.1667   83.4167
23     85.14     San Marcos      US  33.1434 -117.1661
25     75.13        Rikitea      PF -23.1203 -134.9692
26     77.02  Palmas Bellas      PA   9.2319  -80.0867
30     82.90    Kloulklubed      PW   7.0419  134.2556

In [61]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.